[submodule "matrixssl_stack_buffer_overflow/matrixssl"]
	path = matrixssl_stack_buffer_overflow/matrixssl
	url = https://github.com/efeslab/matrixssl.git
[submodule "python-31530/cpython"]
	path = python-31530/cpython
	url = https://github.com/python/cpython.git
